<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UBIQUM BOOKSTORE</title>
    <link type="text/css" rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
</head>

<body>
    <div id="app">
        <div class="header">
            <div id="displayinline">
                <img id="logo" src="bookstore.jpg">
                <div>
                    <h1>UBIQUM<br>BOOKSTORE
                    </h1>
                </div>
            </div>
            <div>
                <input id="searchInput" type="text" placeholder="Search.." v-model="search">
            </div>
        </div>
        <div class="single-book">
            <div v-for="book in filteredBooks">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <div>
                                <p class="imglist">
                                    <a data-fancybox="gallery" v-bind:href="book.cover">
                                        <img v-bind:src="book.cover" class="book-cover">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="back likeFlex">
                            <h3>{{book.title}}</h3>
                            <p class="bookDescription"><span class="emptySpace"></span>{{book.description}}</p>
                            <a :href="book.detail" data-fancybox data-type="image" data-caption="Caption"><button>MORE INFO</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="script.js"></script>

</body>

</html>